*{
    box-sizing: border-box;
}
#jugador-cartas, #computadora-cartas{
    height: 240px;
}

#box-container{
    background-color: green;
    max-height: 970px;
    max-height: 970px;
}

.titulo{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 35px;
}

.carta{
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
}